.author__title {
  margin: 51px 0 24px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
}

@media screen and (min-width : 768px) and (max-width : 1139px) {
  .author__title {
    font-size: calc(0.0269*(100vw - 768px) + 30px);
    line-height: calc(0.0161*(100vw - 768px) + 40px);
  }
}


@media screen and (max-width : 767px) {
  .author__title{
    font-size: 30px;
    line-height: 40px;
  }
}