.content {
  background: #FFFFFF;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  font-style: normal;
  font-weight: normal;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

}
img {
  height: auto;

}
html {
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
}
*, *::before, *::after {
  box-sizing: inherit;
}
h3 {
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width : 768px) and (max-width : 1139px) {
  .content {
    font-size: 16px;
  }
}


@media screen  and (max-width : 767px) {
  .content {
    margin: 0;
  }
}