@import url(__title/found__title.css);

.found {
  background: #F5F6F7;
  padding: 62px 104px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width : 768px) and (max-width : 1139px) {
  .found {
      padding: 32px 14px 32px 40px;
  }
}


@media screen and (max-width : 767px) {
  .found {
      padding: 24px 16px;
  }
}