@import url(./_success/popup__bottom-text_success.css);

.popup__bottom-text {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-block-end: 0;
}

.popup__bottom-text a {
  color: #2F71E5;
}