.header__search-title {
  font-family: Roboto Slab, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  margin: 0;
  color: #FFFFFF;
}

@media screen and (max-width : 1139px) {
  .header__search-title {
    font-size: clamp(36px, 6vw, 60px);
    line-height: clamp(40px, 6vw, 64px);
  }
}

@media screen and (max-width : 767px) {
  .header__search-title {
    font-size: clamp(36px, 5vw, 36px);
    line-height: clamp(40px, 6vw, 40px);
  }
}