.popup__input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000000;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 6px 0;
  margin-bottom: 4px;
  opacity: 0.2;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

.popup__input:focus {
  opacity: 1;
  outline: none;
}