@import url(./__links/footer__links.css);
@import url(./footer__copyright.css);

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 104px;
}

@media screen and (max-width : 767px) {
  .footer {
      padding: 0 16px;
  }
}