@import url(../../node_modules/normalize.css/normalize.css);
@import url(../vendor/fonts.css);
@import url(./blocks/content.css);
@import url(./blocks/header/header.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/search/search.css);
@import url(./blocks/author/author.css);



