@import url(__button/card__button.css);
.card__header {
  height: 272px;
  display: flex;
  flex-direction: row-reverse;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  position: relative;
}
