.popup__close {
  width: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(204deg) brightness(102%) contrast(103%);
}

@media screen and (max-width : 767px) {
  .popup__close  {
    right: 16px;
    width: 24px;
  }
}