@import url(./button_form.css);
@import url(./button_more.css);
@import url(./button_search.css);

.button {
  height: 64px;
  border-radius: 100px;
  background-color: #2F71E5;
  border: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

.button:hover{
  background-color: #347EFF;
}

.button:active{
  background-color: #2A65CC;
}

.button:focus{
  outline: 0;
}

.button:disabled {
  background: #E6E8EB;
  color: #B6BCBF;
}