@import url(__bar-input/search__bar-input.css);


.search__bar {
  display: flex;
  flex-direction: row;
  width: 608px;
  justify-content: space-between;
  border-radius: 100px;
  background: #FFFFFF;
  align-items: center;
}

@media screen and (min-width : 768px) and (max-width : 1139px) {
  .search__bar {
    width: clamp(448px, 59vw, 608px);
  }
}


@media screen and (max-width : 767px) {
  .search__bar {
    flex-direction: column;
    width: 100%;
    border-radius: 0;
    background: transparent;
  }
}