@import url(__date/card__date.css);
@import url(__title/card__title.css);
@import url(__text/card__text.css);
@import url(__source/card__sour—Åe.css);

.card__body {
  padding: 20px 24px 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}