@import url(__header/card__header.css);
@import url(__image/card__image.css);
@import url(__body/card__body.css);


.card {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
}
