@import url(__header/card__header.css);
@import url(__image/card__image.css);
@import url(__tooltip/card__tooltip.css);
@import url(__tag/card__tag.css);
@import url(__body/card__body.css);


.card {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 8px 16px 8px 0;
  text-decoration: none;
  color: #1A1B22;
}


@media screen and (min-width : 768px) and (max-width : 1139px) {
  .card {
    width: 224px;
    margin: 4px 8px 4px 0;
  }
}


@media screen and (max-width : 767px) {
  .card {
    width: 100%;
    margin: 10px 0;
  }
}