.header__navigator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 19px 104px 0 104px;
  position: relative;
  border-bottom: 1px solid rgba(196, 196, 196, 0.2);
}

@media screen and (max-width : 320px) {
  .header__navigator {
      align-items: center;
      padding: 0 16px;
  }
}