.header__navigator.header__navigator_dark {
  color: #FFFFFF;
}

.header__navigator.header__navigator_dark .header__menu-user, .header__navigator.header__navigator_dark .header__menu_active {
  border-color: #FFFFFF;
}

.header__navigator.header__navigator_dark .header__hamburger, .header__navigator.header__navigator_dark .header__menu-user_signedin .header__signout-icon {
  filter: invert(100%) sepia(7%) saturate(26%) hue-rotate(319deg) brightness(108%) contrast(108%);
}
