@import url(header_main.css);
@import url(header_bookmarks.css);
@import url(header__title.css);
@import url(header__hamburger.css);
@import url(header__signout-icon.css);
@import url(__menu/header__menu.css);
@import url(header__navigator.css);
@import url(header_visible-mobile-menu.css);

.header {
  padding-bottom: 80px;
}

@media screen and (max-width : 320px) {
  .header {
      align-items: center;
      padding: 0;
  }
}