.header__hamburger{
  display: none;
  content: ' ';
  background-image: url(../../../images/hamburger.svg);
  cursor: pointer;
}

@media screen and (max-width : 767px) {
  .header__hamburger {
    display: block;
    width: 24px;
    height: 24px;
  }
}