.header__hamburger{
  display: none;
  content: ' ';
  width: 24px;
  height: 24px;
  background-image: url(../../../images/hamburger.svg);
  cursor: pointer;
}

@media screen and (max-width : 320px) {
  .header__hamburger {
      display: block;
  }
}