.header.header-main {
  background-image: url(../../../images/background.jpg);
  background-size: cover;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.header.header-main .header__menu-item a {
  color: #FFFFFF;
}

.header.header-main .header__hamburger, .header.header-main .header__signout-icon {
  filter: invert(100%) sepia(7%) saturate(26%) hue-rotate(319deg) brightness(108%) contrast(108%);
}
