.header__navigator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 19px 104px 0 104px;
  position: relative;
  border-bottom: 1px solid rgba(196, 196, 196, 0.2);
}


@media screen and (min-width : 768px) and (max-width : 1139px) {
  .header__navigator {
      align-items: center;
      padding: 14px 40px 0 40px;
  }
}


@media screen and (max-width : 767px) {
  .header__navigator {
      align-items: center;
      padding: 0 16px;
  }
}