<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Поиск новостей">
  <meta name="author" content="Irina Belchikova">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src *;">
  <title>Поиск новостей</title>
  <link rel="icon" type="image/png" href="<%=require('./images/favicon.png')%>" />
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
</head>

<body class="content">
  <header class="header header_bookmarks">
    <nav class="header__navigator">
      <p class="header__title">NewsExplorer</p>
      <div class="header__hamburger"></div>
      <ul class="header__menu">
        <li class="header__menu-item"><a href="./index.html">Главная</a></li>
        <li class="header__menu-item header__menu_active" id="bookmarksMenuItem"><a href="./bookmarks.html">Сохраненные статьи</a></li>
        <li class="header__menu-user header__menu-user_signedin">
          <p class="header__user-text"></p><img class="header__signout-icon"
            src="<%=require('./images/signout.svg')%>" alt="signout">
        </li>
      </ul>
    </nav>
  </header>
  <div class="preloader">
    <div class="preloader__container">
      <i class="preloader__circle"></i>
    </div>
  </div>
  <main class="main">
    <section class="summary">
      <p class="summary__subtitle">Сохранённые статьи</p>
      <h1 class="summary__title"></h1>
      <p class="summary__tags"></p>
    </section>
    <section class="bookmarks">
      <div class="cards">
      </div>
    </section>
  </main>
  <div class="popup" id="error">
    <div class="popup__content">
      <img src="<%=require('./images/close.svg')%>" alt="X" class="popup__close">
      <h3 class="popup__title">Ошибка</h3>
      <p class="popup__bottom-text popup__bottom-text_error"></p>
    </div>
  </div>
  <footer class="footer">
    <p class="footer__copyright">© 2020 Irina Belchikova, Powered by News API</p>
    <ul class="footer__links">
      <li class="footer__link "><a href="./index.html">Главная</a></li>
      <li class="footer__link "><a href="https://praktikum.yandex.ru/" target="_blank" rel="noopener">Яндекс.Практикум</a></li>
      <li class="footer__link footer__link_icon"><a href="https://www.github.com/" target="_blank" rel="noopener"><img
        src="<%=require('./images/github.svg')%>" alt="github"></a></li>
      <li class="footer__link footer__link_icon"><a href="https://www.facebook.com/" target="_blank" rel="noopener"><img
        src="<%=require('./images/facebook.svg')%>" alt="facebook"></a></li>
    </ul>
  </footer>
  <template id="card" type="text/html">
    <a class="card" target="_blank" rel="noopener">
      <div class="card__header">
        <img class="card__image" src="" alt="">
        <button class="card__button"></button>
        <p class="card__tag"></p>
      </div>
      <div class="card__body">
        <h4 class="card__date"></h4>
        <h3 class="card__title"></h3>
        <p class="card__text"></p>
        <p class="card__source"></p>
      </div>
    </a>
  </template>
  <script type="module" src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>

</html>