@import url(__title/search__title.css);
@import url(__subtitle/search__subtitle.css);
@import url(__bar/search__bar.css);

.search {
  display: flex;
  justify-content:center;
  flex-direction: column;
  width: clamp(285px, 48vw, 545px);
  margin: clamp(30px, 9vw, 93px) auto 0;
  padding-bottom: 80px;
}